.nav-header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 1rem;
  background-color: white; /* Transparent background */
  transition: background-color 0.3s ease;
  position: fixed;
  z-index: 10;
  border-bottom: 2px solid #c8cacc;
  border-style: solid;
}

/* Transparency Effect */
.nav-header.transparency {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  z-index: 1000;
  font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.nav-menu {
  display: flex;
  justify-content: center; /* Menu di tengah */
}

.navbar .nav-menu {
  text-decoration: none;
  color: rgb(0, 0, 0);
  position: relative;
}

.nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar .nav-menu li {
  margin-right: 20px;
  border-radius: 20px;
}

.navbar .nav-menu ul li {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 8px;
  margin-right: 8px;
}

.navbar .nav-menu .dropdown {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
  margin-bottom: 5px;
  margin-top: 5px;
}

.navbar .nav-menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  position: relative;
}

.navbar .nav-menu a::before {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.navbar .nav-menu a::before {
  content: "";
  background: black;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  transition: 0.2s transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}

.navbar .nav-menu a:hover::before {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.navbar .nav-menu a:hover::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.w-dropdown-toggle {
  text-align: left;
  z-index: 900;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  position: relative;
  transition: none;
}

.nav-dropdown-list {
  display: none;
  position: absolute;
  background-color: rgba(199, 199, 199, 0.9);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 0 solid white;
  top: 100%;
  left: auto;
  right: auto;
  padding: 10px 0;
  /*padding: inherit;*/
}

.nav-dropdown-list--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-toggle {
  letter-spacing: 0.25px;
  margin-right: 10px;
  padding: 5px 30px 5px 20px;
  font-size: 14px;
  line-height: 20px;
}

.dropdown:hover .nav-dropdown-list {
  display: block;
  border-radius: 8px;
}

.dropdown-link {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  position: absolute;
  transition: all 0.2s;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-link:hover {
  background-color: white;
}

.navbar .nav-menu .dropdown-link::before {
  content: "";
  background: white;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  transition: 0 transform ease;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #000;
  margin: 6px 0;
}

@media screen and (max-width: 1140px) {
  .navbar {
    flex-direction: row;
    padding: 20px;
    position: relative;
    align-items: center;
  }

  .nav-menu {
    order: 3;
    justify-content: space-around;
  }

  .nav-menu ul {
    display: none;
    flex-direction: row;
    align-items: center;
    margin-top: 0; /* Hapus margin top untuk jarak yang lebih konsisten */
  }

  .nav-menu ul.active {
    display: flex;
    margin-top: 10px; /* Tambahkan margin top untuk jarak antar elemen */
    margin-left: auto;
    margin-right: auto;
  }

  .nav-menu ul li {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .nav-menu li.active {
    margin: 1px;
  }

  .nav-menu li {
    margin-right: 20px; /* Tambahkan margin right agar ada jarak antar elemen */
    margin-bottom: 0; /* Hapus margin bottom untuk jarak yang lebih konsisten */
  }

  .nav-dropdown-list {
    top: 0;
    /*padding: inherit;*/
  }

  .w-dropdown-toggle {
    text-align: left;
    z-index: 900;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
  }

  .nav-dropdown-list {
    display: none;
    position: absolute;
    background-color: rgba(199, 199, 199, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid white;
    top: 100%;
    left: auto;
    right: auto;
    padding: 10px 0;
  }

  .nav-dropdown-toggle {
    letter-spacing: 0.25px;
    margin-right: 10px;
    padding: 5px 30px 5px 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .dropdown:hover .nav-dropdown-list {
    display: block;
    border-radius: 8px;
  }

  .dropdown-link {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
    margin-right: 20px;
    order: 2;
  }

  #logo .menu-togle {
    display: flex;
  }
}

@media screen and (max-width: 720px) {
  .nav-header {
    position: relative;
  }

  .navbar {
    flex-direction: column;
    padding: 20px;
    position: relative;
    align-items: center;
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    order: 2;
  }

  #logo img {
    vertical-align: middle;
  }

  .sign-in-button {
    order: 4;
  }

  .nav-menu ul {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .nav-menu li {
    margin-right: 20px;
    border-radius: 20px;
  }

  .nav-menu .dropdown {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
  }

  .nav-menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  .nav-dropdown-toggle {
    letter-spacing: 0.25px;
    margin-right: 10px;
    padding: 5px 30px 5px 20px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
  }

  .w-dropdown-toggle {
    text-align: left;
    z-index: 900;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
  }

  .nav-dropdown-list {
    display: none;
    position: absolute;
    background-color: #c7c7c7;
    border: 1px solid white;
    top: 100%;
    left: auto;
    right: auto;
    padding: 10px 0;
    /*padding: inherit;*/
  }

  .dropdown:hover .nav-dropdown-list {
    display: block;
    border-radius: 8px;
  }

  .dropdown-link {
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
  }
}
