<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <link rel="stylesheet" href="../css/reset.css" type="text/css" />
    <script src="../js/script.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="../bootstrap/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionimages/2.0.1/css/ionicons.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../jquery/jquery-3.7.1.js"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <title>Inzaghi's Sites</title>
    <link
      rel="shortcut icon"
      href="../images/inzaghis-sites-favicon-36x36-icon-only.png"
    />
  </head>
  <body>
    <div class="nav-header">
      <nav class="navbar" id="navbar">
        <a href="../public/index.html" id="logo">
          <img
            src="../images/inzaghis-sites-logo-vertical-transparent.png"
            height="60px"
            alt="logo"
          />
        </a>
        <button class="menu-toggle" id="menu-toggle">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </button>
        <a href="#" class="main-button sign-in-button">Sign in</a>
        <div class="nav-menu">
          <ul>
            <li><a href="../public/index.html">Home</a></li>
            <li><a href="https://medium.com/@izzumiposhaf29">Blog</a></li>
            <li><a href="../pages/pages.html">Page Apps</a></li>
            <li><a href="../pages/contact.html">Contact</a></li>
            <li><a href="../pages/profile.html">Profile</a></li>
            <li><a href="../pages/about.html">About</a></li>
            <li>
              <a href="../pages/networks.html">Inzaghi's Group Network</a>
            </li>
            <li class="dropdown">
              <div class="nav-dropdown-toggle w-dropdown-toggle">
                <div class="nav-dropdown-icon">
                  <div class="text-block">
                    Switch to Another Site
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-caret-down"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
                      />
                    </svg>
                  </div>
                </div>
                <nav class="nav-dropdown-list nav-dropdown-list--open">
                  <a
                    href="https://sites.google.com/view/inzaghis-sites"
                    class="dropdown-link"
                    >Old Inzaghi's Sites</a
                  >
                  <a
                    href="https://inzaghiposuma.wordpress.com"
                    class="dropdown-link"
                    >WordPress Site</a
                  >
                  <a
                    href="https://inzaghi-site.webflow.io"
                    class="dropdown-link"
                    >Preview (Webflow)</a
                  >
                </nav>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="navbar-border border"></div>
  </body>
</html>
