<link
  rel="stylesheet"
  href="../../components/footsite/footsite.css"
  type="text/css"
/>
<link rel="stylesheet" href="../../css/style.css" type="text/css" />
<link rel="stylesheet" href="../../css/reset.css" type="text/css" />
<script src="../../js/script.js"></script>
<script src="../../components/navbar/navbar.js"></script>
<link
  rel="stylesheet"
  href="../cdn/swiper@11/swiper-bundle.min.css"
  type="text/css"
/>
<script src="../cdn/swiper@11/swiper-bundle.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<script src="https://cdn.tailwindcss.com"></script>
<script src="../../tailwindcss-3.4.14/tailwindcss-cdn-3.4.15.js"></script>
<script src="../cdn/alpinejs/alpinejs-cdn.min.js"></script>
<script
  defer
  src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/ionimages/2.0.1/css/ionicons.min.css"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
  rel="stylesheet"
/>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../../jquery/jquery-3.7.1.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>

<section class="footer">
  <div class="footer-container">
    <section class="footer-wrapper mb-10">
      <section class="inzaghis-corp-logo">
        <a href="#" id="logo">
          <img
            src="../../assets/images/inzaghis-corp-logo-vertical-transparent.png"
            class="h-16 w-auto"
            alt="logo"
          />
        </a>
      </section>
      <section class="special-pages">
        <section
          class="footer-title mb-6 text-xl sm:text-sm lg:text-lg font-semibold text-black uppercase"
        >
          Special Pages
        </section>
        <nav>
          <ul>
            <li>
              <a href="../../pages/about.html" class="hover:text-blue-800"
                >About</a
              >
            </li>
            <li>
              <a href="../../pages/disclaimer.html" class="hover:text-blue-800"
                >Disclaimer</a
              >
            </li>
            <li>
              <a
                href="../../pages/privacy-policy.html"
                class="hover:text-blue-800"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a href="../../pages/contact.html" class="hover:text-blue-800"
                >Contact</a
              >
            </li>
            <li>
              <a href="../../pages/portals.html" class="hover:text-blue-800"
                >Portals</a
              >
            </li>
            <li>
              <a href="../../pages/apps.html" class="hover:text-blue-800"
                >Apps</a
              >
            </li>
            <li>
              <a
                href="https://medium.com/@izzumiposhaf29"
                class="hover:text-blue-800"
                target="_blank"
                >Blog</a
              >
            </li>
            <li>
              <a href="../../pages/sitemap.html" class="hover:text-blue-800"
                >Sitemap</a
              >
            </li>
          </ul>
        </nav>
      </section>
      <section class="apps-tools">
        <section
          class="footer-title mb-6 text-xl sm:text-sm lg:text-lg font-semibold text-black uppercase"
        >
          Apps & Tools
        </section>
        <nav>
          <ul>
            <li>
              <a
                href="../../page-apps/converter.html"
                class="hover:text-blue-800"
                >Converters</a
              >
            </li>
            <li>
              <a
                href="../../page-apps/calculators.html"
                class="hover:text-blue-800"
                >Calculators</a
              >
            </li>
            <li>
              <a
                href="../../page-apps/generators.html"
                class="hover:text-blue-800"
                >Generators</a
              >
            </li>
            <li>
              <a
                href="../../page-apps/formatters.html"
                class="hover:text-blue-800"
                >Formatters</a
              >
            </li>
            <li>
              <a
                href="../../page-apps/file-converter.html"
                class="hover:text-blue-800"
                >File Converter</a
              >
            </li>
            <li>
              <a
                href="../../page-apps/utilities.html"
                class="hover:text-blue-800"
                >Utilities</a
              >
            </li>
            <li>
              <a
                href="../../page-apps/tester-tools.html"
                class="hover:text-blue-800"
                >Tester Tools</a
              >
            </li>
            <li>
              <a href="../../pages/apps.html" class="hover:text-blue-800"
                >Other Tools</a
              >
            </li>
          </ul>
        </nav>
      </section>
      <section class="network">
        <section
          class="footer-title mb-6 text-xl sm:text-sm lg:text-lg font-semibold text-black uppercase"
        >
          Networks
        </section>
        <nav>
          <ul>
            <li>
              <a
                href="../../inzaghis-group/inzaghis-blog.html"
                class="hover:text-blue-800"
                >Inzaghi's Blog</a
              >
            </li>
            <li>
              <a
                href="../../inzaghis-group/inzaghis-media.html"
                class="hover:text-blue-800"
                >Inzaghi's Media</a
              >
            </li>
            <li>
              <a
                href="https://github.com/inzaghidev"
                class="hover:text-blue-800"
                target="_blank"
                >Inzaghi's Dev (GitHub)</a
              >
            </li>
            <li>
              <a
                href="https://sites.google.com/view/inzaghis-sites"
                class="hover:text-blue-800"
                target="_blank"
                >Inzaghi's Sites (Old)</a
              >
            </li>
            <li>
              <a
                href="https://drive.google.com/drive/folders/1gAMLO2AdXqsp75ymexKwXllKbLMTfhxa"
                class="hover:text-blue-800"
                target="_blank"
                >Inzaghi's Archives</a
              >
            </li>
            <li>
              <a href="../../pages/networks.html" class="hover:text-blue-800"
                >Inzaghi's Group Network Lists</a
              >
            </li>
          </ul>
        </nav>
      </section>
      <section class="quick-link">
        <section
          class="footer-title mb-6 text-xl sm:text-sm lg:text-lg font-semibold text-black uppercase"
        >
          Quick Link
        </section>
        <nav>
          <ul class="mb-5">
            <li>
              <a
                href="https://inzaghiposuma.wordpress.com/blog-posts"
                target="_blank"
                >WordPress Blog</a
              >
            </li>
            <li>
              <a
                href="https://medium.com/@izzumiposhaf29"
                class="hover:text-blue-800"
                >Inzaghi's Sites Blog</a
              >
            </li>
            <li>
              <a
                href="https://linktr.ee/inzaghigroup"
                class="hover:text-blue-800"
                target="_blank"
                >Linktree Inzaghi's Group</a
              >
            </li>
          </ul>
          <a
            class="github-button"
            href="https://github.com/inzaghidev/Inzaghis-Sites"
            data-color-scheme="no-preference: light; light: light; dark: dark;"
            data-size="large"
            aria-label="Look at @inzaghidev"
            >Look at @inzaghidev</a
          >
        </nav>
      </section>
    </section>
    <section class="footer-bottom">
      <div class="footer-copyright">
        © 2025 Inzaghi's Corp. All rights reserved.
      </div>
    </section>
  </div>
</section>
