  <script src="../js/script.js"></script>
  <script src='../components/navbar/navbar.js'></script>
  <script src="../jquery/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="../cdn/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>