<link rel="stylesheet" href="../css/navbar.css" type="text/css" />
<link rel="stylesheet" href="../css/style.css" type="text/css" />
<link rel="stylesheet" href="../css/reset.css" type="text/css" />
<script src="../js/script.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<link
  rel="stylesheet"
  href="../bootstrap/css/bootstrap.min.css"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/ionimages/2.0.1/css/ionicons.min.css"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
  rel="stylesheet"
/>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../jquery/jquery-3.7.1.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>

<div class="nav-header" id="navHeader">
  <nav class="navbar" id="navbar">
    <a href="../public/index.html" id="logo">
      <img
        src="../images/inzaghis-sites-logo-vertical-transparent.png"
        title="Inzaghi's Sites"
        height="60px"
        alt="logo"
      />
    </a>
    <div class="nav-menu-container">
      <div class="nav-menu">
        <ul>
          <li>
            <a href="../public/index.html">Home</a>
          </li>
          <li><a href="https://medium.com/@izzumiposhaf29">Blog</a></li>
          <li>
            <a href="../pages/apps.html">Page Apps</a>
          </li>
          <li>
            <a href="../pages/contact.html">Contact</a>
          </li>
          <li>
            <a href="../pages/profile.html">Profile</a>
          </li>
          <li>
            <a href="../pages/about.html">About</a>
          </li>
          <li>
            <a href="../pages/networks.html">Inzaghi's Group Network</a>
          </li>
          <li class="dropdown">
            <div class="nav-dropdown-toggle w-dropdown-toggle">
              <div class="text-block">
                <a
                  >Switch to Another Site
                  <ion-icon name="chevron-down-outline"></ion-icon>
                </a>
              </div>
              <nav class="nav-dropdown-list nav-dropdown-list--open">
                <a
                  href="https://sites.google.com/view/inzaghis-sites"
                  class="dropdown-link"
                  >Old Inzaghi's Sites</a
                >
                <a
                  href="https://inzaghiposuma.wordpress.com"
                  class="dropdown-link"
                  >WordPress Site</a
                >
                <a href="https://inzaghi-site.webflow.io" class="dropdown-link"
                  >Preview (Webflow)</a
                >
              </nav>
            </div>
          </li>
        </ul>
        <div class="sign-in-button">
          <a href="../includes/signin.html" class="main-button">Sign in</a>
        </div>
      </div>
    </div>
    <button class="menu-toggle" id="menu-toggle">
      <span class="fas fa-bars bar"></span>
    </button>
    <div class="cancel-icon">
      <span class="fas fa-times cross"></span>
    </div>
  </nav>
</div>
