<link rel="stylesheet" href="../components/navbar/navbar.css" type="text/css" />
<link rel="stylesheet" href="../css/style.css" type="text/css" />
<link rel="stylesheet" href="../css/reset.css" type="text/css" />
<script src="../js/script.js"></script>
<script src="../components/navbar/navbar.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<link
  rel="stylesheet"
  href="../bootstrap/css/bootstrap.min.css"
  type="text/css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/ionimages/2.0.1/css/ionicons.min.css"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
  rel="stylesheet"
/>
<!--script src="https://cdn.tailwindcss.com"></script-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../jquery/jquery-3.7.1.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>

<div class="nav-header" id="navHeader">
  <nav class="navbar" id="navbar">
    <a href="../public/index.html" id="logo">
      <img
        src="../images/inzaghis-sites-logo-dengan-hut-ri-79.png"
        title="Inzaghi's Sites | Dirgahayu Republik Indonesia! #79"
        height="60px"
        alt="logo"
      />
    </a>
    <div class="nav-menu-container">
      <div class="nav-menu">
        <ul>
          <li>
            <a href="../public/index.html">Home</a>
          </li>
          <li><a href="https://medium.com/@izzumiposhaf29">Blog</a></li>
          <li>
            <a href="../pages/apps.html">Page Apps</a>
          </li>
          <li>
            <a href="../pages/contact.html">Contact</a>
          </li>
          <li>
            <a href="../pages/profile.html">Profile</a>
          </li>
          <li>
            <a href="../pages/about.html">About</a>
          </li>
          <li>
            <a href="../pages/networks.html">Inzaghi's Group Network</a>
          </li>
          <li class="dropdown">
            <div class="nav-dropdown-toggle w-dropdown-toggle">
              <div class="text-block">
                <a
                  >Switch to Another Site
                  <ion-icon name="chevron-down-outline"></ion-icon>
                </a>
              </div>
              <nav class="nav-dropdown-list nav-dropdown-list--open">
                <a
                  href="https://sites.google.com/view/inzaghis-sites"
                  class="dropdown-link"
                  >Old Inzaghi's Sites</a
                >
                <a
                  href="https://inzaghiposuma.wordpress.com"
                  class="dropdown-link"
                  >WordPress Site</a
                >
                <a href="https://inzaghi-site.webflow.io" class="dropdown-link"
                  >Preview (Webflow)</a
                >
              </nav>
            </div>
          </li>
        </ul>
        <div class="sign-in-button">
          <a href="../includes/signin.html" class="main-button">Sign in</a>
        </div>
      </div>
    </div>
    <button class="menu-toggle" id="menu-toggle">
      <span class="fas fa-bars bar"></span>
    </button>
    <div class="cancel-icon">
      <span class="fas fa-times cross"></span>
    </div>
  </nav>
</div>

<!--div class="nav-header bg-white fixed w-full z-10 shadow-md">
  <nav class="navbar container mx-auto flex justify-between items-center p-4">
    <a href="../public/index.html" id="logo" class="flex items-center">
      <img
        src="../images/inzaghis-sites-logo-dengan-hut-ri-79.png"
        title="Inzaghi's Sites | Dirgahayu Republik Indonesia! #79"
        class="h-12"
        alt="logo"
      />
    </a>
    <div class="hidden lg:flex space-x-6">
      <a
        href="../public/index.html"
        class="text-black hover:bg-gray-200 px-3 py-2 rounded"
        >Home</a
      >
      <a
        href="https://medium.com/@izzumiposhaf29"
        class="text-black hover:bg-gray-200 px-3 py-2 rounded"
        >Blog</a
      >
      <a
        href="../pages/apps.html"
        class="text-black hover:bg-gray-200 px-3 py-2 rounded"
        >Page Apps</a
      >
      <a
        href="../pages/contact.html"
        class="text-black hover:bg-gray-200 px-3 py-2 rounded"
        >Contact</a
      >
      <a
        href="../pages/profile.html"
        class="text-black hover:bg-gray-200 px-3 py-2 rounded"
        >Profile</a
      >
      <a
        href="../pages/about.html"
        class="text-black hover:bg-gray-200 px-3 py-2 rounded"
        >About</a
      >
      <a
        href="../pages/networks.html"
        class="text-black hover:bg-gray-200 px-3 py-2 rounded"
        >Inzaghi's Group Network</a
      >
      <div class="dropdown relative">
        <button
          class="text-black hover:bg-gray-200 px-3 py-2 rounded inline-flex items-center"
        >
          Switch to Another Site
          <ion-icon name="chevron-down-outline" class="ml-1"></ion-icon>
        </button>
        <div class="absolute hidden bg-gray-100 mt-2 rounded shadow-lg py-2">
          <a
            href="https://sites.google.com/view/inzaghis-sites"
            class="block px-4 py-2 text-black hover:bg-gray-200 rounded"
            >Old Inzaghi's Sites</a
          >
          <a
            href="https://inzaghiposuma.wordpress.com"
            class="block px-4 py-2 text-black hover:bg-gray-200 rounded"
            >WordPress Site</a
          >
          <a
            href="https://inzaghi-site.webflow.io"
            class="block px-4 py-2 text-black hover:bg-gray-200 rounded"
            >Preview (Webflow)</a
          >
        </div>
      </div>
    </div>
    <a
      href="../includes/signin.html"
      class="hidden lg:block bg-black text-white px-4 py-2 rounded hover:bg-gray-600"
      >Sign in</a
    >
    <button id="menu-toggle" class="lg:hidden text-black">
      <span class="fas fa-bars"></span>
    </button>
  </nav>
  <div id="mobile-menu" class="hidden lg:hidden bg-white shadow-lg">
    <a
      href="../public/index.html"
      class="block px-4 py-2 text-black hover:bg-gray-200"
      >Home</a
    >
    <a
      href="https://medium.com/@izzumiposhaf29"
      class="block px-4 py-2 text-black hover:bg-gray-200"
      >Blog</a
    >
    <a
      href="../pages/apps.html"
      class="block px-4 py-2 text-black hover:bg-gray-200"
      >Page Apps</a
    >
    <a
      href="../pages/contact.html"
      class="block px-4 py-2 text-black hover:bg-gray-200"
      >Contact</a
    >
    <a
      href="../pages/profile.html"
      class="block px-4 py-2 text-black hover:bg-gray-200"
      >Profile</a
    >
    <a
      href="../pages/about.html"
      class="block px-4 py-2 text-black hover:bg-gray-200"
      >About</a
    >
    <a
      href="../pages/networks.html"
      class="block px-4 py-2 text-black hover:bg-gray-200"
      >Inzaghi's Group Network</a
    >
    <div class="relative">
      <button
        class="block w-full text-left px-4 py-2 text-black hover:bg-gray-200"
      >
        Switch to Another Site
      </button>
      <div class="hidden bg-gray-100 mt-2 rounded shadow-lg py-2">
        <a
          href="https://sites.google.com/view/inzaghis-sites"
          class="block px-4 py-2 text-black hover:bg-gray-200"
          >Old Inzaghi's Sites</a
        >
        <a
          href="https://inzaghiposuma.wordpress.com"
          class="block px-4 py-2 text-black hover:bg-gray-200"
          >WordPress Site</a
        >
        <a
          href="https://inzaghi-site.webflow.io"
          class="block px-4 py-2 text-black hover:bg-gray-200"
          >Preview (Webflow)</a
        >
      </div>
    </div>
    <a
      href="../includes/signin.html"
      class="block bg-black hover:bg-gray-400 text-white px-4 py-2 rounded mt-2"
      >Sign in</a
    >
  </div>
</div-->
